.section-padding {
    padding: 120px 0;
}

.contact-left-items {
    border-radius: 15px;

}

.contact-info-area-2 {
    padding: 40px;
    background-color: #384BFF;
    border-radius: 15px 15px 0px 0px;

}

.contact-info-items {
    display: flex;
    align-items: center;
    gap: 20px;
    position: relative;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.contact-info-items .icon {
    width: 65px;
    height: 65px;
    line-height: 65px;
    text-align: center;
    position: relative;
}

.contact-wrapper-2 .contact-left-items .video-image img {
    width: 100%;
    height: 100%;
    border-radius: 0 0 15px 15px;

}

.breadcrumb-wrapper .page-heading h1 {
    color: #fff;
    font-size: 65px;
    position: relative;
    z-index: 9;
}