.bg-DarkBlue {
    background-color: #18185E;
}

.process-section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.process-wrapper {
    padding-top: 120px;

}
.process-step .step-number {
    text-align: left;
    -webkit-text-stroke: 2px rgba(255, 255, 255, 0.2);
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    margin-bottom: 30px;
    transition: all 0.4s;
}
.process-step .step-title {
    color: #fff;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 20px;
}
.process-step  .step-description {
    color: rgba(255, 255, 255, 0.8);
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}