.pricing-card.style1 {
    position: relative;
    z-index: 5;
    padding: 30px;
    border-radius: 20px;
    border: 1px solid #D4DCFF;
    background: #fff;

}

.pricing-card.style1 .pricing-card_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
    border-radius: 16px;
    background: #384BFF;
}

.pricing-card.style1 .pricing-card_header .item h4 {
    color: #fff;
    font-family: "Rajdhani", sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.item .price h2 {
    color: #fff;
    font-family: "Rajdhani", sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.item .price span {
    color: #fff;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.checklist-wrapper {
    margin: 40px 0;
}

.checklist.style1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 6px;
    list-style-type: none;
    padding-left: 0;
}

.checklist.style1 li {
    color: #445375;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    text-transform: capitalize;
}

.gt-btn.style2 {
    background: #fff;
    border-radius: 20px;
    border: 1px solid #D4DCFF;
    color: #384BFF;
    text-align: center;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
}

.gt-btn.style3 svg {
    margin-left: 10px;
}